h1 {
color: white;
background-color: green;
height: 50px;
width: 750px;
text-align: center;
}
h2 {
    color: red;
    font-style: italic;
}
ul {
    list-style-type: square;
}
p {
    color: darkblue;
    font-style: arial;
}
img {
    opacity: 0.5;
}